.meet-list-item {
  margin-top: 24px;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  background: #ffffff2e;
  box-shadow: 0 2px 30px #3333337d;
}

.meet-list-item > .column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.meet-list-item .material-icons {
  margin-right: 5px;
}

.meet-list-item .actions {
  color: #f3f3f3;
}

.meet-list-item .actions .delete:hover {
  color: #b12323;
  cursor: pointer;
}
